@import '../../../../constants/variables.scss';

.loading {
    text-align: center;
    color: $white;
}

.table {
    text-align: center;
    max-width: 100%;

    th:first-child,
    td:first-child {
        text-align: left;
    }
    th:last-child,
    td:last-child {
        text-align: right;
    }
}
