@import 'constants/variables.scss';

.csa-landing {
  // Top Section
  .header-background {
    background-color: $light-warm-grey;
    padding: 0px;
  } 
  .top-section {
    width:100%
  }
  .header-text1 {
    position: absolute;
    left:9%;
    top:30%;
  }
  .header-text1 > img {
    width:60%;
  }

  .action-buttons {
    margin-top: 25px;
    margin-left:15px;
  }

  .btn-journey{
    width:170px;
    border-radius: 7px;
    background-color:$orange;
    border-width: 3px;
    border-color: $orange;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    font-weight: 700;
  }
  
  .btn-journey:hover, .btn-journey-form:hover{
    border: 3px solid $blue-dark !important;
    background-color: $blue-dark !important;
  }

  .have-account {
    margin-top:8px;
    font-weight: bold;
    font-size: 17px;
    text-decoration: underline;
  }

  // Arrows
  .home-box{position:absolute;top:83%;left:12.5%;transform:translate(-50%,-50%)}
  .home-box span{display:block;width:35px;height:35px;border-bottom:5px solid $green;border-right:5px solid $green;transform:rotate(45deg);margin:-20px;animation:animate 2s infinite}
  .home-box span:nth-child(2) {animation-delay: -0.2s;}
  .home-box span:nth-child(3) {animation-delay: -0.4s;}
  @keyframes animate{0%{opacity:0;transform:rotate(45deg) translate(-20px,-20px)}50%{opacity:1}100%{opacity:0;transform:rotate(45deg) translate(20px,20px)}}

  // Middle Section
  .middle-section {
   background-color: $light-warm-grey;
   padding: 0px !important;
  }
  .responsive {
    width: 100%;
    height: auto;
    background-color: $light-warm-grey;
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0px !important;
  }
  .responsive-text {
    width: 100%;
    height: auto;
    background-color: transparent;
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0px !important;
  }

  .black-plain-section{
    background-color:black;
    height: 300px;
  }
  
  .black-plain-section  > h1 {
   font-size:30px;
   letter-spacing: 10px;
  }
  .white-section-list  {
    display: inline-block;
    text-decoration: none;
    list-style-type: square;
    list-style-position: inside;
  }
  .white-section-list > li {
    font-size: 21px;
    margin-bottom: 15px;
  }
  .wave {
    height: 140px;
    transform: rotate(180deg);
  }

  .lower-section {
    background-color: $blue-dark;
    padding: 0px;
    position: relative;
  }

  .lower-text {
    position: absolute;
    left: 12.2%;
    bottom: 15%;
  }
  .btn-journey-lower, .btn-journey-contact {
    width:170px;
    border-radius: 7px;
    background-color:$orange;
    border-width: 3px;
    border-color: $orange;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    font-weight: 700;
  }

  .btn-journey-lower:hover, .btn-journey-contact:hover, .btn-journey-lower:active, .btn-journey-contact:active{
    background-color: $light-warm-grey !important;
    border: 3px solid $light-warm-grey !important;
    color:black;
  }

  .btn-journey-lower:focus, .btn-journey-contact:focus{
    background-color: $light-warm-grey !important;
    border: 3px solid $light-warm-grey !important;
    box-shadow: none !important;
    color:black !important;
  }

  .contact-section {
   background-color: $blue-dark;
   padding: 0px;
   position: relative;
  }

  .contact-text {
    position: absolute;
    right: 12.5%;
    bottom: 43%;
  }

  .footer-container {
    height:110px;
    background-color: #e6e6e6;
  }
  .footer-container > div > a:hover {
    text-decoration: none;
  }
  .footer-text{
    color:black;
    margin-right: 25px;
  }
  .footer-text:hover {
    color:$green;
}
.footer-rise {
  color:$blue-dark;
  font-weight: 800;
  letter-spacing: 4px;
}
.social-icons {
   width: 50px;
   height: 50px;
   display:flex;
   align-items:center;
   justify-content:center; 
}
.footer-icon {
  width:40px;
  height:36px;
}
.copyright{
  width: 12px;
  height: 15px
}
.rights{
  display: inline-block;
  font-size: 12px
}

.social-media-container{
  margin-right: 40px;
}
 
@media only screen and (max-width: 900px) and (min-width: 0px) {

.sign-up {
  font-size:15px
  }
.signup-section{
  height:200px
}
.btn-journey{
  width: 234px;
  font-size: 13px;
}
}

@media only screen and (max-width: 1400px)  {
}
@media only screen and (max-width: 1650px) and (min-width: 1400px) {
}
@media only screen and (max-width: 2000px) and (min-width: 1650px) {
  .header-text > img {
    width:73%;
  }
  .action-buttons {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 900px) {
}

}