.my-evolution-planets {
    g {
        &:first-child {
            path {
                opacity: 0.5;
            }
        }
    }

    text {
        font-size: 24px;
        fill: #fff;
    }
}

#ellipse_11 {
    stroke: #1a8a1e;
    opacity: 1;
}

#ellipse_22 {
    stroke: #a549ff;
    opacity: 1;
}

#ellipse_33 {
    stroke: #f0bc94;
    opacity: 1;
}

#ellipse_44 {
    stroke: #ffa500;
    opacity: 1;
}

#ellipse_55 {
    stroke: red;
    opacity: 1;
}

#ellipse_66 {
    stroke: #0066ff;
    opacity: 1;
}

#ellipse_77 {
    stroke: #e89256;
    opacity: 1;
}

#ellipse_88 {
    stroke: #1a8a1e;
    opacity: 1;
}
