@import 'constants/variables.scss';

.form {
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: auto;
    height: 100%;
    padding: 1rem;
    border-radius: 3px;

    > section {
        > header {
            border-bottom: 1px solid $grey-light;
        }

        > div {
            margin: 0.5rem 1rem;
            
            :global(.form-row) {
                justify-content: space-between;

                :global(.form-group) {
                    flex: 0 0 45%;
                }

                &.webinar {
                    justify-content: flex-start;

                    :global(.form-group) {
                        flex: 0 0 auto;
                        margin-right: 2rem;
                    }
                }
            }

            .other {
                flex: 1 1 auto;
                max-width: 500px;
                margin-left: 1.2rem;
            }

            textarea {
                margin-top: 2rem;
            }
        }
    }
}