@import '../../../../constants/variables.scss';

.income-level {
    .form-check-label {
        color: #4b4b4b;
        font-size: 17px;
        font-weight: 600;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        margin-bottom: 10px;
        cursor: pointer;
    }
}
