@import '../../../constants//variables.scss';

.dropdownToggle {
    &:after {
        display: none;
    }
}

.dropdownItem {
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.selectedGroup {
    max-height: 150px;
    overflow-y: auto;
}

.selected {
    margin: 2px 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userIcon {
    flex: 0 0 20px;
    width: 20px;
    height: 20px;
    color: $grey;
    margin-right: 10px;
}