@import 'constants/variables.scss';

.card {
    border: none;
    background-color: inherit;
}

.header {
    background: none;
    border: none;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    cursor: pointer;
}