.body {
    background-color: white;

    > section {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 1rem;
    }

    header {
        margin: 0 auto;
        padding: 0 1.5rem;
        font-size: 20px;
        font-weight: bold;
    }
}

.hint {
    display: flex;
    align-items: center;
    height: 100%;
    width: fit-content;
    margin: auto;
}