@import 'constants/variables.scss';

.container {
  background-color: $grey-light;
  display: flex;
}

.menus {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @media (max-width: $md) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $sm) {
    grid-template-columns: 1fr;
  }
}