@import 'constants/variables.scss';

.title {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
}

.text {
  font-size: 18px;
  text-align: center;
  margin-top: 0.5rem;

  &.bold {
    font-weight: bold;
  }
}

.progress {
  margin: 1.5rem;
}

.legends {
  color: $black;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
}