@import '../../../constants/variables.scss';

.container {
    padding: 12px;
    height: 100%;
    overflow-y: auto;
    color: white;
}

.noteSearch {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    align-items: center;

    input {
        margin-left: auto;
        margin-right: 1rem;
        width: 60%;
        flex: 0 0 60%;
    }

    svg {
        margin-right: auto;
    }
}