@import '../../../../constants/variables.scss';

.borad {
    max-height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: fit-content(0) 1fr;
    overflow: auto;
    color: $black;

    a, button {
        color: $black;

        &:hover {
            color: $black;
        }
    }
}