@import 'constants/variables.scss';

.flyer {
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;

    h6 {
        color: $green !important;
        margin-top: 1rem;
    }

    .top {
        width: 200px;
        height: 250px;
        position: relative;

        > button {
            position: absolute;
            bottom: 10px;
            left: 10px;
        }
    }
}