@import '../../constants/variables.scss';

.editPencilIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $white;
    width: 45px;
    height: 45px;
    font-size: 20px;

    &:hover {
        cursor: pointer;
    }
}

.hands{
    width: 80px;

    @media (min-width: $sm) and (min-height: $sm) {
        width:145px;
        margin-top:14px;

    }

    @media (min-width: $lg) and (min-height: 750px) {
        width:245px;
    }

    @media (min-width: $xl) and (min-height: 800px) {
        width:280px;
    }
}
